# PlanAhead metadata
*.cache/
*.data/cache/*
*.data/wt/

.Xil/

# PlanAhead temporary files
*.sim/*
*.runs/*
*.srcs/sources_1/edk/*/__xps/*
*.srcs/sources_1/edk/*/etc/*
*.srcs/sources_1/edk/*/hdl/*
*.srcs/sources_*/edk/*/implementation/*
*.srcs/sources_*/edk/*/synthesis/*
*.srcs/sources_*/edk/*/synthesis/*

# SDK Export directory (manually managed)
*.sdk/

# Log files
*.log
*.jou
*.edif

*.srcs/sources_1/edk/*/*.bxml
*.srcs/sources_1/edk/*/*.make
*.srcs/sources_1/edk/*/*.opt
*.html
webtalk_impact.xml
